<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>API_KEY</key>
        <string>AIzaSyDmlWFcoNVdSiztsXKw3Tz_qwdMh0rNIfs</string>
        <key>GCM_SENDER_ID</key>
        <string>413580944237</string>
        <key>PLIST_VERSION</key>
        <string>1</string>
        <key>BUNDLE_ID</key>
        <string>app.replit.nacaocrf</string>
        <key>PROJECT_ID</key>
        <string>averon-9ae0e</string>
        <key>STORAGE_BUCKET</key>
        <string>averon-9ae0e.firebasestorage.app</string>
        <key>IS_ADS_ENABLED</key>
        <false/>
        <key>IS_ANALYTICS_ENABLED</key>
        <false/>
        <key>IS_APPINVITE_ENABLED</key>
        <true/>
        <key>IS_GCM_ENABLED</key>
        <true/>
        <key>IS_SIGNIN_ENABLED</key>
        <true/>
        <key>GOOGLE_APP_ID</key>
        <string>1:413580944237:ios:9c28ae573a803a03fdf064</string>
</dict>
</plist>
